.cardContainer {
  display: flex;
  width: 220px;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  align-items: center;
  justify-content: center;
}

.cardContainer h1 {
  font-size: 22px;
}

.cardContainer p {
  font-size: 18px;
  margin: 0;
}

.cardContainer:hover {
  transform: scale(1.05);
}